<div style=" margin-top:3rem" class="container">
  <!-- background: yellow; -->
  <h1>AboutMe</h1>

  <p>นายปณชัย นิยมกชกร</p>
  <p>panachai.ny@gmail.com</p>

  <ul>
    <li> C#.net Web Advance</li>
    <li> Microsoft SQLSERVER Advance</li>
    <li> Angular6 Basic</li>
    <li> Nodejs Basic</li>
  </ul>

  <ul>
    <li> https://github.com/panachai</li>
    <li> https://medium.com/@panachai.ny</li>
    <li> https://portfolioangular.firebaseapp.com</li>
  </ul>

  <br/>

  <h3>Wait NPM</h3>
  <p>https://fontawesome.com/get-started/advanced-options</p>
  <!-- <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div> -->

</div>